{% extends "mybase.html" %}


{% block enter_form %}
<div style="top: 50%;left: 50%;">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="width:100%">
Enter your id:
<input type="number" id="user_id" />
<input type="button" id="btn" value="Enter" onClick="javascript: window.location='http://34.207.202.197:8915' + '/transactions/' + document.getElementById('user_id').value" />
<br>
<a href="javascript:window.location.href=window.location.href+'/potential_fraud'">Are you a Venmo analyst?</a>
<br>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
{% endblock %}
{% block enter_form2 %}
<form id="myForm" action="/action_page.php">
  Enter your user id:<br> 
  <input type="number" id="user_id" name="userid"><br><br>
  <input type="button" onclick="enterFunction()" value="Log in">
</form>
{% endblock %} 

{% block enter_script %}
<script>
function enterFunction() {

    val id = document.getElementById("user_id").value;
    window.location = window.location.host + "/transactions/"+id;
}
</script>
{% endblock %}

